@font-face {
    font-family: Poppins;
    src: url('/assets/fonts/Poppins-Regular.woff');
}
body {
    font-family: "Poppins", serif;
    background: #F8F3EF;
    overflow-x: hidden;
}

nav {
    background: #79372B;
    color: white;
}
nav li {
    color: white;
}

.nav-link, .navbar-brand {
    color: white;
}

#services .nav-link {
    text-decoration: underline;
}

#contact button.cta, .modal button.cta {
    border: none;
    color: white;
    display: flex;
    gap: 15px;
    align-items: center;
    margin: 0 auto;
}

.form-check a {
    color: #79372B;
}

.card .nav-link {
    color: #79372B;
}

.main-title {
    font-weight: bold;
    font-size: 5em;
}

.main-title, h2, h3, h4, p, li, #intro h1, #contact h1, #services h1, #services h3, #destinations h3 {
    color: #79372B;
}

.cta {
    padding: 20px;
    background: #79372B;
    display: inline-block;
    text-decoration: none;
}

.navbar-toggler {
    color: white;
    border-color: white;
}
#services .cta, #contact .cta {
    color: white !important;
}

.carousel-item img {  
    object-fit: contain;
    object-position: center;
    overflow: hidden;
    height: 50vh;
  }

@media screen and (max-width: 500px) {
    .main-title {
        font-size: 3em;
    }
}